{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% load static %}

{% block first_content %}
{% include "core/navbar.html" %}
  <!--Section 17 -- Reloj -->
  <section id="section" class="d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-6 mt-5">
        <div class="reloj">
          <p class="fecha"></p>
          <p class="tiempo"></p>
        </div>
      </div>
        <div class="col-6 mt-5">
          <div id="textoHora">
            <h3 class="textoModoOscuro">¡Ve la hora!</h3>
            <h5>¿Aun no reservas una mesa?</h5>
            <button class="btn btn-primary" id="btnReloj">Reserva ya</button>
          </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block second_content %}
  <!--Seccion 18 -- Formulario -->
  <section id="section">

    <div class="container mb-3 mt-5" id="section13">
      <div class="row mt-5">

        <div class="col-8">
          <h3 class="textoModoOscuro">Formulario de Contacto <br> <h4>Reserva Ya</h4></h3>
        </div>

        <div class="col-4">
          <div class="modo" id="modo">
            <h6 id=tituloAspecto>Modo Oscuro</h6>
            <i class="fas fa-toggle-on"></i>
          </div>
        </div>

      </div>
    </div>

  </section>
{% endblock %}

{% block third_content %}
  <section id="section">
    <div class="container mb-3 mt-5" id="section13">

      <div class="">
        <form action="" class="formulario_contacto" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row">

            <div class="col-6">
              <div class="col-11">
                <div class="form-group">
                  <label for="nombre" class="fw-bold">Nombre Completo</label>
                  <div class="input-group label">
                    {{ form.nombre }}
                  </div>
                </div>
              </div>
              <div class="col-11 mt-3">
                <div class="form-group">
                  <label for="correo" class="fw-bold">Correo electrónico</label>
                  <div class="input-group">
                    {{ form.correo }}
                  </div>
                </div>
              </div>
              <div class="col-5 mt-3">
                <div class="form-group">
                  <label for="fecha_reserva" class="fw-bold">Fecha de Reserva</label>
                  <div class="input-group">
                    {{ form.fecha_reserva }}
                  </div>
                </div>
              </div>
              <div class="col-5 mt-3">
                <div class="form-group">
                  <label for="cantidad_personas" class="fw-bold">Cantidad de personas</label>
                  <div class="input-group">
                    {{ form.cantidad_personas }}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="comentario" class="fw-bold">Comentario</label>
                <div class="input-group" id="comentarioFormulario">
                  {{ form.comentario }}
                </div>
              </div>
            </div>

          </div>

          <button type="submit" class="btn btn-primary mt-5" id="btnReloj">Enviar</button>

        </form>
        <br>
        {{mensaje}}
      </div>

    </div>
  </section>
{% endblock %}