{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% load static %}

{% block first_content %}
  <!--Section 17 -- Reloj -->
  <section id="section" class="d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-6 mt-5">
        <div class="reloj">
          <p class="fecha"></p>
          <p class="tiempo"></p>
        </div>
      </div>
        <div class="col-6 mt-5">
          <div id="textoHora">
            <h3 class="textoModoOscuro">¡Ve la hora!</h3>
            <h5>¿Aun no reservas una mesa?</h5>
            <button class="btn btn-primary" id="btnReloj">Reserva ya</button>
          </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block second_content %}
  <!--Seccion 18 -- Formulario -->
  <section id="section">
    
    <div class="container mb-3 mt-5" id="section13">

      <div class="row mt-5 mb-5">
        <div class="col-8">
          <h3 class="textoModoOscuro">Formulario de Contacto.<h5 class="textoModoOscuro">Reserva tu mesa.</h5></h3>
        </div>
        <div class="col-4">
          <div class="modo" id="modo">
            <h6 id=tituloAspecto>Modo Oscuro</h6>
            <i class="fas fa-toggle-on"></i>
          </div>
        </div>
      </div>

      <div class="row">

        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
              <label for="idVideogame" class="fw-bold">ID</label>
              <div class="input-group">
                  {{form.idVideogame}}
              </div>
          </div>
          <div class="form-group mb-3">
              <label for="title" class="fw-bold">Título</label>
              <div class="input-group">
                  {{form.title}}
              </div>
          </div> 
          <div class="form-group mb-3">
              <label for="platform" class="fw-bold">Plataforma</label>
              <div class="input-group">
                  {{form.platform}}
              </div>
          </div>
          <div class="form-group mb-3">
              <label for="studio" class="fw-bold">Desarrollado por</label>
              <div class="input-group">
                  {{form.studio}}
              </div>
          </div>
          <div class="form-group mb-3">
              <label for="value" class="fw-bold">Precio Unitario</label>
              <div class="input-group">
                  {{form.value}}
              </div>
          </div>
          <div class="form-group mb-3">
              <label for="stock" class="fw-bold">Stock</label>
              <div class="input-group">
                  {{form.stock}}
              </div>
          </div>
          <div class="form-group mb-3">
              <label for="image" class="fw-bold">Imagen</label>
              <div class="input-group">
                  {{form.image}}
              </div>
          </div>
          <div class="text-center my-4">
              <input type="submit" class="btn btn-primary" id="registrar" value="Registrar">
              <input type="reset" class="btn btn-secondary" id="restablecer" value="Restablecer">
              <a class="btn btn-success" href="{% url 'index' %}">Volver</a>
          </div>  
      </form>

      </div>

    </div>

  </section>
{% endblock %}