{% extends 'core/base.html' %}

{% block title %}Eventos{% endblock %}

{% load static %}

{% block first_content %}

{% include "core/navbar.html" %}
  <!--Seccion 10 -- Contexto eventos -->
  <section class="about-section-padding" id="section">
    <div class="container">
      <div class="row my-5">
        <div class="row">
          <div class="row">
            <div class="col-8">
              <h1>Estamos presentes en tus celebraciones</h1>
              <hr>
            </div>
            <div class="col-4">
              <div class="modo" id="modo">
                <h6 id=tituloAspecto>Modo Oscuro</h6>
                <i class="fas fa-toggle-on"></i>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <img src="{% static 'core/img/img12.jpg' %}" class="img-fluid rounded">
          </div>
          <div class="col-md-4" id="texto3">
            <p id="textoContextoEventos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolore deleniti magnam non autem maxime aliquam consectetur eum laborum optio itaque aperiam, saepe placeat asperiores corporis facilis quidem ex repellat!</p>
            <p id="textoContextoEventos">aunt quae voluptates sint modi assumenda soluta dolorum non ea labore, voluptate fuga neque animi eos ipsum inventore atque provident omnis alias saepe?</p>
            <p id="textoContextoEventos">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, commodi nemo consectetur ducimus dolorem incidunt vel quod voluptatibus animi nisi suscipit, impedit dicta minima dolorum?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block second_content %}
  <!--Seccion 11 -- Cards Eventos -->
  <section class="services section-padding" id="section">
    <div class="container" id="container4">
      
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 mb-5" id="cards">
        <div class="col">
          <div class="card h-100" id="cardsp">
            <img src="{% static 'core/img/img13.jpg' %}" class="card-img-top h-100 w-100">
            <div class="card-body" id="cardtextEventos">
              <h5 class="card-title text-center"><b>Bodas</b></h5>
              <p class="card-text mt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100" id="cardsp">
            <img src="{% static 'core/img/img14.jpg' %}" class="card-img-top h-100 w-100">
            <div class="card-body" id="cardtextEventos">
              <h5 class="card-title text-center"><b>Reuniones</b></h5>
              <p class="card-text mt-3">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100" id="cardsp">
            <img src="{% static 'core/img/img15.jpg' %}" class="card-img-top h-100 w-100">
            <div class="card-body" id="cardtextEventos">
              <h5 class="card-title text-center"><b>Eventos ejecutivos</b></h5>
              <p class="card-text mt-3" id="texto3">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}

{% block third_content %}
  <!-- SECTION grafico -->
  <section class="about-section-padding" id="section">
    <div class="container">
      <div class="row my-5">
        <div class="row">
          <div class="col-8">
              <h1>Estadísticas globales de COVID-19</h1>
            <hr>
          </div>
        </div>
        </div>
        <div class="row"> 
          <div class="col-md-2">
            <img src="{% static 'core/img/covid.png' %}" class="img-fluid rounded">
          </div>
          <div class="col-md-2" id="texto3">
                <p>Casos: <span id="casos1"></span></p>
                <p>Muertes: <span id="muertes1"></span></p>
                <p>Recuperados: <span id="recuperados1"></span></p>
              </div>
              <div class="col-md-8">
              <div id="grafico"></div>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block fourth_content %}
  <!--Section 12 -- Reloj-->
  <section id="section" class="d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-6 mt-5">
        <div class="reloj">
          <p class="fecha"></p>
          <p class="tiempo"></p>
        </div>
      </div>
        <div class="col-6 mt-5">
          <div id="textoHora">
            <h3 class="textoModoOscuro">¡Ve la hora!</h3>
            <h5>¿Aun no reservas una mesa?</h5>
            <button class="btn btn-primary" id="btnReloj" onclick="window.location.href='{% url 'contacto' %}' ">Reserva ya</button>
          </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block fifth_content %}
  <!--Seccion 13 -- Contexto 2 eventos-->
  <section class="about-section-padding" id="section">
    <div class="container">
      <div class="row my-5">
        <div class="row">
          <div class="col-md-6">
            <h3 class="textoModoOscuro">Contactanos para organizar tu evento</h3>
            <p id="textoContexto2Eventos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum inventore suscipit veniam? Impedit perferendis unde libero commodi enim quibusdam, architecto molestiae iusto voluptate possimus sequi itaque reiciendis repudiandae ducimus animi praesentium voluptates ipsa quisquam maxime optio sit? Minima, id quia.</p>
            <p id="textoContexto2Eventos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat distinctio, cum animi laudantium necessitatibus similique? Est amet eaque impedit, animi tempora cupiditate ipsum explicabo mollitia officia cumque quo consectetur reprehenderit.</p>
            <button class="btn btn-primary" id="btnContextoEventos" onclick="window.location.href='{% url 'contacto' %}' ">Contactanos</button>
          </div>
          <div class="col-md-6 mt-3">
            <img src="{% static 'core/img/img16.jpg' %}" class="img-fluid rounded">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}