{% extends 'core/base.html' %}

{% block title %}Nosotros{% endblock %}

{% load static %}

{% block first_content %}
{% include "core/navbar.html" %}
  <!--Seccion 14 -- Cards nosotros -->
  <section class="services section-padding" id="section">
    <div class="container" id="container4">
      <div class="row">
        <div class="col-8">
          <h3 class="titutloNosotros mt-5" id="textoModoOscuro">Conocenos un poco mas...</h3><hr>
        </div>
        <div class="col-4 mt-5">
          <div class="modo" id="modo">
            <h6 id=tituloAspecto>Modo Oscuro</h6>
            <i class="fas fa-toggle-on"></i>
          </div>
        </div>
      </div>
      
      <div class="row" id="cards">

        <div class="col-12 col-md-6 col-lg-4 mt-4 mb-4">
          <div class="card h-100">
            <img src="{% static 'core/img/img17.jpg' %}" class="card-img-top h-100 w-100">
            <div class="card-body" id="cartasProductos">
              <h4 class="card-title text-center"><b>Eliezer Mancilla</b></h4>
              <p class="card-text mt-3 text-center">2023-2023 – (Chile/Chile). Contacto:</p>
              <p class="text-center">el.mancilla@duocuc.cl</p>
              <p class="text-center">Desarrollador web</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-4 mb-4">
          <div class="card h-100">
            <img src="{% static 'core/img/img18.jpg' %}" class="card-img-top h-100 w-100">
            <div class="card-body" id="cartasProductos">
              <h4 class="card-title text-center"><b>Omar Hernandez</b></h4>
              <p class="card-text mt-3 text-center">2023-2023 – (Chile/Chile). Contacto:</p>
              <p class="text-center">om.hernandez@duocuc.cl</p>
              <p class="text-center">Desarrollador web</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-4 mb-4">
          <div class="card h-100">
            <img src="{% static 'core/img/img19.jpg' %}" class="card-img-top h-100 w-100">
            <div class="card-body" id="cartasProductos">
              <h4 class="card-title text-center"><b>Javier Hurtado</b></h4>
              <p class="card-text mt-3 text-center" id="texto3">2023-2023 –  (Chile/Chile). Contacto:</p>
              <p class="text-center">ja.urtado@duocuc.cl</p>
              <p class="text-center">Desarrollador web</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}

{% block second_content %}
    <!--Section 15 -- Reloj -->
    <section id="section" class="d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-6 mt-5">
          <div class="reloj">
            <p class="fecha"></p>
            <p class="tiempo"></p>
          </div>
        </div>
          <div class="col-6 mt-5">
            <div id="textoHora">
              <h3 class="textoModoOscuro">¡Ve la hora!</h3>
              <h5>¿Aun no reservas una mesa?</h5>
              <button class="btn btn-primary" id="btnReloj">Reserva ya</button>
            </div>
          </div>
      </div>
    </section>
{% endblock %}

{% block third_content %}
    <!--Seccion 16 -- Contexto nosotros -->
    <section class="about-section-padding" id="section">
      <div class="container">
          <div class="row" id="textoSeccion16">
            <h2 class="mt-3 mb-3"><i>Quienes Somos...</i></h2>
            <div class="col-md-6">
              <p id="textoNosotros">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus incidunt itaque nemo quam. Cum modi fuga perspiciatis, natus maxime, ipsum doloribus provident velit labore eaque eveniet minima illo magnam qui?</p>
              <p id="textoNosotros">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui numquam dolore labore tempore suscipit nesciunt ipsam maiores consequuntur saepe, obcaecati, mollitia nemo aliquam eligendi! Sapiente ipsa numquam, autem quia dolor necessitatibus aspernatur odit, nemo rem at sint maiores perspiciatis tempore.</p>
              <p class="mb-4" id="textoNosotros">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolor iusto numquam doloribus sapiente dicta pariatur velit placeat impedit error. Odit atque praesentium sequi sit ea quod debitis eveniet possimus. Soluta dolores perferendis quaerat nobis ipsam temporibus, veritatis praesentium assumenda, quae et officia dolore illo ratione porro possimus voluptate? Adipisci non iusto quod maiores officiis cumque quia hic amet aliquam.</p>
            </div>
            <div class="col-md-6">
              <img src="{% static 'core/img/img13.jpg' %}" id="imagen1Nosotros" class="img-fluid" alt="Responsive image" >
            </div>
          </div>
      </div>
    </section>
{% endblock %}