{% extends 'core/base.html' %} 

{% block title %}Registro | Italianisimo{% endblock %}

{% load static %}

{% block first_content %}

<section id="section">
    <div class="container mt-4">
        {% if messages %}
            <div class="alert {{ request.session.level_mensaje }} alert-dismissible" role="alert" >
                <ul>
                    {% for message in messages %}
                        <li><strong>{{message}}</strong></li>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </ul>
            </div>
        {% endif %}

        <div class="col justify-content-center my-5">
            <form action="/register" method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header text-center" id="card-login">
                        <h2 class="card-title">Registration</h2>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="first_name" class="col-sm-3 col-form-label fw-bold">First Name</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="text" name="first_name" id="first_name" maxlength=30 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="last_name" class="col-sm-3 col-form-label fw-bold">Last Name</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="text" name="last_name" id="last_name" maxlength=30 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-3 col-form-label fw-bold">Email</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="email" name="email" id="email" maxlength=100 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-3 col-form-label fw-bold">Password</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password" id="password" required>
                                <ul class="fst-italic fs-6">
                                    <li>La contraseña debe tener al entre 8 y 16 caracteres</li>
                                    <li>Al menos un dígito</li>
                                    <li>Al menos una minúscula y al menos una mayúscula</li>
                                    <li>NO puede tener otros símbolos.</li>
                                </ul>
                            </div>

                        </div>
                        <div class="mb-3 row">
                            <label for="password_confirm" class="col-sm-3 col-form-label fw-bold">Confirm Pass</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password_confirm" id="password_confirm" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <input class="btn btn-primary" id="boton-login" type="submit" value="Register">
                            <input class="btn btn-dark" id="boton-login2" type="reset" value="Clear">
                            <a class="inicio-a" href="{% url 'index' %}">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}