{% extends 'crud/base.html' %}

{% block title %}Cliente Nuevo{% endblock %}

{% load static %}

{% block first_content %}

<section id="section" class="justify-content-center"> 
    <div class="row">
        
        <form action="" method="post" class="mt-5" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="fw-bold">Registro de Nuevo Cliente</h3>
            <div class="form-group mt-4">
                <label for="nombreCliente" class="fw-bold">Nombre del cliente</label>
                <div class="input-group">
                    {{ form_cliente.nombreCliente }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="rutCliente" class="fw-bold">Rut Cliente</label>
                <div class="input-group">
                    {{ form_cliente.rutCliente }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="dvRutCliente" class="fw-bold">Dígito Verificador</label>
                <div class="input-group">
                    {{ form_cliente.dvRutCliente }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="telefonoCliente" class="fw-bold">Telefono Cliente +56...</label>
                <div class="input-group">
                    {{ form_cliente.telefonoCliente }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="emailCliente" class="fw-bold">Email Cliente</label>
                <div class="input-group">
                    {{ form_cliente.emailCliente }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="tipoCliente" class="fw-bold">Tipo de Cliente</label>
                <div class="input-group">
                    {{ form_cliente.nombreTC }}
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="row">
                    <div class="col-6"><input type="reset" value="Cancelar" class="btn btn-secondary" id="btnContextoEventos"></div>
                    <div class="col-6"><input type="submit" value="Guardar" class="btn btn-primary" id="btnReloj"></div>
                </div>
            </div>
        </form>
    </div>

</section>

{% endblock %}