{% extends 'crud/base.html' %}

{% block title %}Producto Nuevo{% endblock %}

{% load static %}

{% block first_content %}

<section id="section" class="justify-content-center">
    <div class="row">
        
        <form action="" method="post" class="mt-5" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="fw-bold">Registro de Nuevo Producto</h3>
            <div class="form-group mt-4">
                <label for="nombre" class="fw-bold">Nombre del producto</label>
                <div class="input-group">
                    {{ form.nombreProducto }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="producto" class="fw-bold">Tipo Producto</label>
                <div class="input-group">
                    {{ form.tipoProducto }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="categoria" class="fw-bold">Precio</label>
                <div class="input-group">
                    {{ form.precioProducto }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="imagen" class="fw-bold">Imagen del plato</label>
                <div class="input-group">
                    {{ form.imagenProducto }}
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="row">
                    <div class="col-6"><input type="reset" value="Cancelar" class="btn btn-secondary" id="btnContextoEventos"></div>
                    <div class="col-6"><input type="submit" value="Guardar" class="btn btn-primary" id="btnReloj"></div>
                </div>
            </div>
        </form>
    </div>

</section>

{% endblock %}