{% extends 'crud/base.html' %}

{% block title %}Tipo de Cliente Nuevo{% endblock %}

{% load static %}

{% block first_content %}

<section id="section" class="justify-content-center">
    <div class="row">
        
        <form action="" method="post" class="mt-5" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="fw-bold">Registro de Nuevo Tipo de Cliente</h3>
            <div class="form-group mt-4">
                <label for="idTipoCliente" class="fw-bold">Código de tipo de cliente</label>
                <div class="input-group">
                    {{ form.idTipoCliente }}
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="nombreTC" class="fw-bold">Descripción del tipo de cliente</label>
                <div class="input-group">
                    {{ form.nombreTC }}
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="row">
                    <div class="col-6"><input type="reset" value="Cancelar" class="btn btn-secondary" id="btnContextoEventos"></div>
                    <div class="col-6"><input type="submit" value="Guardar" class="btn btn-primary" id="btnReloj"></div>
                </div>
            </div>
        </form>
    </div>

</section>

{% endblock %}
